body{
    font-family: 'Segoe UI', sans-serif;
    background-image: url(/andre-bday-game/src/img/bg-01-manhã.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    padding: 0;
    /* max-width: 70%; */
}

#titulo-jogo {
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;
  font-weight: 100;
  font-size: 700%;
}

#subtitulo-jogo{
  text-align: center;
  font-weight: 400;
  font-style: italic;
  background-color: aliceblue;
  padding-left: none;
  padding-right: none;
}

.pre-jogo {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/andre-bday-game/src/img/bg-final-planeta-terra.png) center/cover no-repeat;
  background-color: #8e01e0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s ease;
  pointer-events: all;
}

.pre-jogo__conteudo {
  color: rgb(247, 218, 138);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border-radius: 20px;
  backdrop-filter: blur(6px);
}

#txt-entenda {
  text-align: justify;
}

.pre-jogo__botao {
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.pre-jogo__botao:hover {
  background-color: #ddd;
}

.pre-jogo__instrucoes {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.9s ease-out;
}

.pre-jogo__instrucoes.ativo {
  max-height: 500px;
  /* ajuste conforme o tamanho do conteúdo */
}

.pre-jogo.escondido, .tela-final.escondido {
  opacity: 0;
  pointer-events: none;
}

.header__score-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f5c518;
  margin: 10px;
}

.icone-estrela {
  width: 24px;
  height: 24px;
}

/* .jogo__tela,  */
.jogo__tela {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  /* flex-wrap: nowrap; */
  /* height: 90vh; */
  /* margin-top: 20px; */
}

.jogo__controles {
  /* display: flex; */
  /* flex-direction: column; */
  gap: 10px;
}

.botao-direcional {
  width: 35px;
  height: 35px;
  /* background: none; */
  border: none;
  padding: 0;
  margin: 0;
  /* display: flex; */
  cursor: pointer;
}

.botao-direcional img {
  width: 35px;
  height: 35px;
  background: none;
  cursor: pointer;
}

#tabuleiro {
  width: 90vw;
  max-width: 480px;
  aspect-ratio: calc(8/7);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 2px;
  margin: 20px auto; 
  /* talvez tirar o margin auto 0 daqui*/
}

.celula {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.celula:nth-child(even) {
  background-color: #ccc;
}

.celula:nth-child(odd) {
  background-color: #eee;
}

.missao,
.sem-missao,
.missao-final {
  position: absolute;
  width: 60%;
  opacity: 0.6;
  pointer-events: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.personagem {
  position: absolute;
  width: 90%;
  height: auto;
  z-index: 1;
}

.nuvem-overlay {
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 2000;

  width: 100%;
  max-width: 400px;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color:  #1d0101;

  background-color: rgba(125, 255, 132, 0.8);

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
 
.overlay-bloqueio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background-color: rgba(0, 0, 0, 0.0);
  /* Transparente ou levemente escuro */
  pointer-events: all;
  /* Bloqueia interações abaixo */
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

/* concluir coisas ainda antes da Caixa de Avisos. */

.under-jogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: yellowgreen;
  margin-top: 10px 5px;
  position: relative;
}

.avisos {
  background-color: white;
  padding: 15px;
  border: 1px solid #502311;
  border-radius: 2px;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-size: 14px;
  margin: 5px auto;
  min-width: 350px;
  max-width: 480px;
  text-align: center;
  overflow-x: auto;
  white-space: wrap;
}

.tela-final {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/andre-bday-game/src/img/bg-final-planeta-terra.png) center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s ease;
  pointer-events: all;
}

.container-final {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 2px;
}

#texto-fim-jogo {
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;

}

#texto-parabens {
  margin: auto, 0;
  font-size: large;
  color: #f5c518;
}

#andre-23 {
  width: 50%;
  height: 50%;
}

.tela-final.escondido {
  display: none;
}

footer {
  background-color: #eee;
  text-align: center;
  position: bottom;
  padding: 0.5rem;
  font-size: 0.9rem;
}

